* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e4e4e7;
  color: #18181b;
}

h1,
h2 {
  color: #0369a1;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1216px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 764px;
  gap: 64px;
}

.header .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header .profile .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.header .socials .insta,
.header .socials .linkedin {
  list-style: none;
}

.header .socials .insta a,
.header .socials .linkedin a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #18181b;
}

.header .socials .insta a span,
.header .socials .linkedin a span {
  transition: transform 0.2s;
}

.header .socials .insta a:hover span,
.header .socials .linkedin a:hover span {
  transform: translateY(-5px);
}

.header .socials .insta i {
  color: #be185d;
}

.header .socials .linkedin i {
  color: #0369a1;
}

.header .socials i {
  font-size: 32px;
}

.s-albuns {
  margin-bottom: 64px;
}

.subtitulo {
  margin-bottom: 36px;
}

.s-albuns .cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.s-albuns .cards .card {
  background-color: #f4f4f5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.2s;
}

.s-albuns .cards .card:hover {
  transform: translateY(-5px);
}

.s-albuns .cards .card span {
  text-align: center;
  padding: 16px;
}

.s-photos {
  margin-bottom: 64px;
}

swiper-container {
  width: fit-content;
  height: 100%;
}

swiper-slide {
  background-color: #d4d4d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
}

swiper-slide img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide span {
  padding: 16px 0;
}

footer {
  background: #0369a1;
}

footer p {
  padding: 36px 0;
  text-align: center;
  color: #f4f4f5;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .header {
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 32px;
  }
  .header .profile {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }

  .s-albuns .cards {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  swiper-container {
    display: flex;
    max-width: 100%;
  }
  swiper-slide {
    align-self: center;
  }
}
